name: CI-CD

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  TestAndDeploy:
    runs-on: windows-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - name: Check out Git repository
        uses: actions/checkout@v2
        with:
          path: './'
          fetch-depth: 0

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Run build
        run: npm run build

      - name: Create distribution folder
        run: |
          mkdir fun.shiro.ytmd.sdPlugin
          copy sdpi.css fun.shiro.ytmd.sdPlugin\
          copy manifest.json fun.shiro.ytmd.sdPlugin\
          copy property-inspector.html fun.shiro.ytmd.sdPlugin\
          copy action.html fun.shiro.ytmd.sdPlugin\
          copy bundle.js fun.shiro.ytmd.sdPlugin\
          copy bundle-pi.js fun.shiro.ytmd.sdPlugin\
          copy icons fun.shiro.ytmd.sdPlugin -Recurse

      - name: Download Stream Deck Distribution Tool
        uses: carlosperate/download-file-action@v1.0.3
        with:
          file-url: https://developer.elgato.com/documentation/stream-deck/distributiontool/DistributionToolWindows.zip
          file-name: distribution-tool.zip

      - name: Unzip Stream Deck Distribution Tool
        run: tar -xf .\distribution-tool.zip

      - name: Validate plugin and build .streamDeckPlugin file
        run: ./DistributionTool.exe -b -i fun.shiro.ytmd.sdPlugin -o ./

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/v')
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: For a detailed changelog, view the [CHANGELOG.md](https://github.com/XeroxDev/YTMD-StreamDeck/blob/master/CHANGELOG.md) file

      - name: Upload .streamDeckPlugin
        if: startsWith(github.ref, 'refs/tags/v')
        id: upload_release_asset
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./fun.shiro.ytmd.streamDeckPlugin
          asset_name: fun.shiro.ytmd.streamDeckPlugin
          asset_content_type: application/zip
